body {
    background-image: url(../../images/photofondecranaccueil.png);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
#Cube1 {
    background-color: #857d7d;
    
}
#Cube2 {
    background-color: white;
}
