#Bloc-1 {
    background-color: #525252;
    text-align: center;
}

#img-bloc-1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#Bloc-2 {
    background-color: #ffffff;
}

#Titre-bloc {
    font-family: Impact;
    text-align: center;
}

#Text-bloc {
    text-align: center;
}

#Bloc-3 {
    background-color: #ffffff;
}


#Bloc-4 {
    text-align: center;
    background-color: #525252;
}

#Img-bloc-4 {
    margin-top: 15px;
    margin-bottom: 15px;

}

